llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-groq
chromadb
streamlit
plotly
umap-learn
pandas
numpy
sentence-transformers
pypdf
pymupdf
python-dotenv
groq